/* thanks : https://github.com/franciscop/picnic/blob/master/picnic.css , bulma */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*    border: 1px greenyellow solid;*/
}
body {
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
/*article,
aside,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}*/
hr {
    background-color: whitesmoke;
    border: none;
    height: 2px;
    margin: 20px 0;
}
a {
    text-decoration: none;
    color: #2196F3;
    display: inline-block;
}
a:hover {
    text-decoration: underline;
}
button{
    font: inherit;
}
ul {
    list-style-type: none;
}
ul.inline > li {
    display: inline-block;
}
/* nav */
.fixed-top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.navbar.fixed-top .dropdown-content{
    position: fixed;
}
.navbar {
    overflow: hidden;
    background-color: #333;
    height: 50px;
    z-index: 5;
}
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    /*    background-color: red;*/
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.navbar-left{
    margin-top: 10px;
    color: white;
    font-size: 16px;
}

.navbar-white{
    background-color: white;
}

.navbar-lv-1{
    padding: 6px 0;
    height: 40px;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.navbar-lv-2{
    /* padding: 8px 0; */
    height: 60px;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
}
.navbar-lv-1 a, .navbar-lv-2 a {
    float: none;
    font-size: 16px;
    color: #000;
    text-align: center;
    padding: 0;
}

#wrapper {
    padding-left: 0;
}
#wrapper.side-show {
    padding-left: 250px;
}
.sidebar {
    position: fixed;
    left: 0;
    overflow-y: auto;
    overflow-x: auto;
    z-index: 1;
    width: 0;
    height: 100%;
    background-color: #212529;
}
#wrapper.side-show .sidebar {
    width: 250px;
}
#page-content{
    position: relative;
    width:  calc(100% - 0px);
    padding: 15px;
}
#wrapper.side-show #page-content {
    /*    margin-right: -250px;
        width:  calc(100% - 250px);*/
}
.sidebar > ul > li{
    display: block;
    line-height: 2;
}
.sidebar > ul > li a{
    display: block;
    text-align: left;
    padding: 0 0 0 10px;
    color: #fff;
    text-decoration: none;
}
.sidebar > ul > li > a:hover {

}
.sidebar-dropdown{
    margin: 0 0 0 12px;
    border-radius: .25rem;
    background-color: #343a40;
    display: none;
}
.sidebar-dropdown.show{
    display: block;
}
.sidebar-dropdown > .sidebar-item {
    display: block;
    text-align: left;
    padding: 0;
    padding-left: 20px;
}
.sidebar-dropdown > .sidebar-item.active {
    background-color:#666666;
}
.menu-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    float: right;
    top: 15px;
    position: relative;
    margin-right: 15px;
}



/*
nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
nav.navbar-white{
    background-color: transparent;
}
nav.navbar-dark{
    background-color: #343434;
    color: #fff;
}
nav .navbar-container{
    padding: 12px 0px;
    border-bottom: 1px solid #ccc;
}
.btn-bars{
    background-color: #343a40;
    color: #fff;
}*/
.navbar-item{
    /* display: none; */
}
/*nav.navbar-smartphone{
    display: none;
}*/
small[data-invalid]{
    color: #ff3860;
}
.text-label{
    font-size: 1rem;
    font-weight: bold;
}
.text-title{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}
.bold{
    font-weight: bold;
}
.container {
    width: 60%;
    margin: 0 auto;
}
.container-fluid {
    width: 100%;
    margin: 0 auto;
}
.form-group{
    margin-bottom: 1rem;
}
.form-group::after{
    content: "";
    clear: both;
    display: table;
}
.form-group > label {
    padding: 5px 5px;
}
.row {
    padding: 10px 0;
    width: auto;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 0 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/* nav */
nav {
    width: 100%;
    background: #fff;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.clearfix{
    content: '';
    clear: both;
    display: table;
}
/* button */
[class^="btn-"]{
    border: #ccc 1px solid;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 12px;
    border-color: transparent;
    color: #fff;
}
a[class^="btn-"]{
    text-decoration: none;
    display: inline-block;
}
.btn-sm{
    padding: 4px 8px;
    font-size: 12px;
}
.btn-default{
    background-color: #fff;
    color: #363636;
    border-color: #ccc;
}
.btn-primary{
    background-color: #00d1b2;
}
.btn-link{
    background-color: #3273dc;
}
.btn-info{
    background-color: #209cee;
}
.btn-success{
    background-color: #23d160;
}
.btn-warning{
    background-color: #ffdd57;
    color: #363636;
}
.btn-danger{
    background-color: #ff3860;
}
/* button outline */
.btn-outline{
    background-color: transparent;
}
.btn-default.btn-outline{
    background-color: #fff;
    color: #363636;
    border-color: #ccc;
}
.btn-primary.btn-outline {
    border-color: #00d1b2;
    color: #00d1b2;
}
.btn-link.btn-outline {
    border-color: #3273dc;
    color: #3273dc;
}
.btn-info.btn-outline {
    border-color: #209cee;
    color: #209cee;
}
.btn-success.btn-outline {
    border-color: #23d160;
    color: #23d160;
}
.btn-warning.btn-outline {
    border-color: #ffdd57;
    color: #ffdd57;
}
.btn-danger.btn-outline {
    border-color: #ff3860;
    color: #ff3860;
}
/* input */
input[type=text].input, input[type=email].input, input[type=password].input, input[type=date].input, input[type="time"].input, select.input, textarea.input{
    width: 100%;
    padding: 10px 5px;
    /* margin: 8px 0; */
    /* margin: 8px 0 10px 0;*/
    border: 1px solid #ccc;
    border-radius: 4px;
}
ul.breadcrumb {
    padding: 10px 5px;
    margin: 10px 0;
    background-color: #eee; 
    border-radius: .25rem;
}
/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 6px;
    color: black;
    content: "/\00a0";
}
/* group */
.group{
    display: table;
    border-collapse: collapse;
    width:100%;
}
.group > span{
    display: table-cell;
    border: 1px solid #ddd;
    vertical-align: middle;  /* needed for Safari */
}
.group-label{
    background:#eee;
    color: #777;
    padding: 0 8px
}
.group-field{
    width:100%;
}
.group input{
    border: 0;
    display: block;
    width: 100%;
    padding: 8px;
}
/* dropimage */
.dropimage {
    position: relative;
    display: block;
    padding: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #2196F3;
    margin: 0.3em 0;
    border-radius: 0.2em;
    background-color: #ddd;
    background-size: cover;
    background-position: center center;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NDAiIGhlaWdodD0iNjQwIiB2ZXJzaW9uPSIxLjEiPjxnIHN0eWxlPSJmaWxsOiMzMzMiPjxwYXRoIGQ9Ik0gMTg3IDIzMCBDIDE3NSAyMzAgMTY1IDI0MCAxNjUgMjUyIEwgMTY1IDMwMCBMIDE2NSA0MDggQyAxNjUgNDIwIDE3NSA0MzAgMTg3IDQzMCBMIDQ2MyA0MzAgQyA0NzUgNDMwIDQ4NSA0MjAgNDg1IDQwOCBMIDQ4NSAzMDAgTCA0ODUgMjUyIEMgNDg1IDI0MCA0NzUgMjMwIDQ2MyAyMzAgTCAxODcgMjMwIHogTSAzNjAgMjU2IEEgNzAgNzIgMCAwIDEgNDMwIDMyOCBBIDcwIDcyIDAgMCAxIDM2MCA0MDAgQSA3MCA3MiAwIDAgMSAyOTAgMzI4IEEgNzAgNzIgMCAwIDEgMzYwIDI1NiB6Ii8+PGNpcmNsZSBjeD0iMzYwIiBjeT0iMzMwIiByPSI0MSIvPjxwYXRoIGQ9Im0yMDUgMjI1IDUtMTAgMjAgMCA1IDEwLTMwIDAiLz48cGF0aCBkPSJNMjg1IDIwMEwyNzAgMjI1IDM3NiAyMjUgMzYxIDIwMCAyODUgMjAwek0zMTAgMjA1TDMzNyAyMDUgMzM3IDIxOCAzMTAgMjE4IDMxMCAyMDV6Ii8+PHBhdGggZD0ibTQwNSAyMjUgNS0xMCAyMCAwIDUgMTAtMzAgMCIvPjwvZz48L3N2Zz4=); 
}
.dropimage input {
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer;
    position: absolute; 
}
.dropimage.profile {
    border-radius: 50%;     /* Make it a circle */
    padding-bottom: 100%;   /* 100% height (ratio 1) */
}
.dropimage.miniprofile {
    border-radius: 50%;    /* Make it a circle */
    margin: 0 auto;        /* Center horizontally */
    width: 60%;            /* 60% width */
    padding-bottom: 60%;   /* 60% height */
}

/* pushimage */
.pushimage {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #2196F3;
    border-radius: 0.2em;
    background-color: #ddd;
    background-size: cover;
    background-position: center center;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NDAiIGhlaWdodD0iNjQwIiB2ZXJzaW9uPSIxLjEiPjxnIHN0eWxlPSJmaWxsOiMzMzMiPjxwYXRoIGQ9Ik0gMTg3IDIzMCBDIDE3NSAyMzAgMTY1IDI0MCAxNjUgMjUyIEwgMTY1IDMwMCBMIDE2NSA0MDggQyAxNjUgNDIwIDE3NSA0MzAgMTg3IDQzMCBMIDQ2MyA0MzAgQyA0NzUgNDMwIDQ4NSA0MjAgNDg1IDQwOCBMIDQ4NSAzMDAgTCA0ODUgMjUyIEMgNDg1IDI0MCA0NzUgMjMwIDQ2MyAyMzAgTCAxODcgMjMwIHogTSAzNjAgMjU2IEEgNzAgNzIgMCAwIDEgNDMwIDMyOCBBIDcwIDcyIDAgMCAxIDM2MCA0MDAgQSA3MCA3MiAwIDAgMSAyOTAgMzI4IEEgNzAgNzIgMCAwIDEgMzYwIDI1NiB6Ii8+PGNpcmNsZSBjeD0iMzYwIiBjeT0iMzMwIiByPSI0MSIvPjxwYXRoIGQ9Im0yMDUgMjI1IDUtMTAgMjAgMCA1IDEwLTMwIDAiLz48cGF0aCBkPSJNMjg1IDIwMEwyNzAgMjI1IDM3NiAyMjUgMzYxIDIwMCAyODUgMjAwek0zMTAgMjA1TDMzNyAyMDUgMzM3IDIxOCAzMTAgMjE4IDMxMCAyMDV6Ii8+PHBhdGggZD0ibTQwNSAyMjUgNS0xMCAyMCAwIDUgMTAtMzAgMCIvPjwvZz48L3N2Zz4=);
}
.pushimage input {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer;
}
.pushimage-delete{
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    margin-bottom: 0;
    border: 1px solid #ccc;
    border-radius: 100%;
    background: #FFFFFF;
}
.w-180{
    width: 180px;
}
.h-200{
    height: 200px;
}
.w-64{
    width: 64px;
}
.h-64{
    height: 64px;
}

/*.dropimage.profile {
    border-radius: 50%;      Make it a circle 
    padding-bottom: 100%;    100% height (ratio 1) 
}
.dropimage.miniprofile {
    border-radius: 50%;     Make it a circle 
    margin: 0 auto;         Center horizontally 
    width: 60%;             60% width 
    padding-bottom: 60%;    60% height 
}*/

/* carousel eg.category */
.carousel{
    overflow-y: hidden;
    /* white-space: nowrap; use on smartphone */
}
.carousel-row{
    width:100%;
}
.carousel-col{
    display: inline-block;
    border: 1px #ccc solid;
    text-align: center;
    width:calc(12.5% - 4px); /*   margin-right: -4px; */
    height:110px;
}
.carousel-col img{
    width: 54px;
    margin-top: 10px;
}
.carousel-col p{
    word-wrap: break-word;
    /* width: 90%; */
    overflow: hidden;
    height: 2rem; /* 2 line */
    margin-bottom: 10px;
    /* text-align: center; */
    font-size: 14px;
}

/* gallery */
.gallery{
    width: 100%;
}
.gallery-left{
    width: 40%;
    float: left;
}
.gallery-right{
    width: 60%;
    float: left;
    padding-left: 20px;
}
.gallery-medium > img{
    width: 100%;
}
.gallery-small{
    overflow: auto;
    white-space: nowrap;
    position: relative;
}
.gallery-small img{
    width: 150px;
}
.gallery-prev{
    position: absolute;
    top: 50%;
    left: 5px;
}
.gallery-next{
    position: absolute;
    top: 50%;
    right: 5px;
}
.gallery-right > div{
    /*    padding: 10px 0;
        font-size: 20px;
        font-weight: bold;*/
}

.required:after, td.required:before {
    content: ' *';
    color: #F00;
    font-weight: bold;
    font-size: 15px;
}
/*div.required .control-label:not(span):before, td.required:before {
    content: '* ';
    color: #F00;
    font-weight: bold;
    font-size: 15px;
}*/


/*.touchspin-input {
    height: 2.5rem;
    padding: .175rem .5rem;
    width: 4rem;
    float: left;
}
.touchspin-btn-group {
    float: left;
}
.touchspin-btn {
    display: block;
    width: 100%;
    padding: 8px 10px;
    margin-left: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.25);
    height: 1.3125rem;
}
.touchspin-down{
    margin-top: -2px;
}
.qty {
    display: table;
}
.qty>span {
    display: table-cell;
}
.qty-group {
    position: relative;
}
.qty-input {
    height: 30px;
    width: calc(100% - 30px);
}
.qty-btn {
    position: absolute;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .25);
    right: 0;
    width: 30px;
    height: 50%;
}
.qty-btn-up {
    top: 0;
}
.qty-btn-down {
    bottom: 0;
    border-top: 0;
}
.qty-box {
    padding-left: 30px;
    padding-right: 20px;
}
.qty-label {
    font-weight: bold;
}*/

.response {
    overflow-x: auto;
    overflow-y: auto;
}
.table-response {
    overflow-x: auto;
}
table.table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.table tr:nth-child(even) {
    background-color: #f2f2f2
}
.table tr:hover td{
    background-color: #ddd !important;
}
.table td, .table th{
    border: 1px solid #ccc;
}
.table th, .table td{
    padding: 6px 4px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 2;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}
/* Modal Content */
.modal .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 10px 15px;
    width: 45%;
    border: 0;
    border-radius: 3px;
}
/* The Close Button */
.modal .close {
    color: #CCC;
    float: right;
    font-size: 24px;
    font-weight: bold;
    margin: -5px 5px 0 30px;
}
.modal .close:hover,
.modal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal .modal-header {
    padding: 10px 0;
    border-bottom: 1px solid #e9ecef;
}
.modal .modal-body {
    /* padding: 2px 16px; */
    padding: 10px 0;
}
.modal .modal-footer {
    margin-top: 15px;
    padding: 15px 0 10px 0;
    /*    border-top: 1px solid #e9ecef;*/
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.footer {
    width: 100%;
    text-align: center;
    padding: 5px 0;
    border-top: 1px solid #ccc;
    margin-top: 50px;
}
/* ------------------------ alter ------------------------ */
/*.alert-box {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    z-index: 3;
}*/
.alert {
    /*    width: 60%;*/
    width: 100%;
    margin: 0 auto;
    /*    padding: 15px;*/
    padding: 8px 15px;
    opacity: 1;
    transition: opacity 3s;
    margin-bottom: 8px;
    /*    display: none;*/
    border: 2px solid transparent;
    border-radius: 4px;
}
.alert.danger {color: #a94442; background-color: #f2dede; border-color: #ebccd1;}
.alert.success {color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6;}
.alert.info {color: #31708f; background-color: #d9edf7; border-color: #bce8f1;}
.alert.warning {color: #8a6d3b; background-color: #fcf8e3; border-color: #faebcc;}
.close-alert {
    color: #999;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.5s; /* when mouse take out */
}
.close-alert:hover {
    color: #555;
}
/* ------------------------ end alter ------------------------ */

.box-container {
    width: 100%;
    text-align: center;
}
.box-col img {
    width: 44px;
}
.box-col p {
    height: 40px;
}
.box-row {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 4px 2px;
}
.box-col {
    display: table-cell;
    border: 1px #ccc solid;
    width: 100px;
    width: 100px;
    word-wrap:break-word;
}

/* content */
#cart_count_1{
    float: right;
    padding: 5px 10px;
    margin-left: 8px;
    text-align: center;
    color: #FFF;
    background: #209cee;
    border-radius: 50%;
}

.popup-cart{
    display: none;
    border: 1px red solid;
    position: fixed;
    right: 20%;
    top: 80px;
    z-index: 1;
}
.popup-cart.active{
    display: block;
}
.choosebox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; /* the text of an element can not be selected/highlighted */
}
.choosebox.inline{
    display: inline;
    padding-left: 30px;
    margin-right: 20px;
}
/* Hide the browser's default checkbox */
.choosebox input {
    position: absolute;
    opacity: 0; /* hidden */
    height: 0; /* need for hidden */
    width: 0; /* need for hidden */
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
.checkmark.radio {
    border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.choosebox:hover input ~ .checkmark {
    background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.choosebox input:checked ~ .checkmark {
    background-color: #2196F3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.choosebox input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.choosebox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.choosebox .checkmark.radio:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
    border: 0;
}

/* tooltip*/
[class*="tooltip-"] {
    position: relative;
    display: inline-block;
    outline: none;
}
[class*="tooltip-"]:focus {

}
[class*="tooltip-"] > .tooltip-text {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}
.tooltip-top > .tooltip-text {
    bottom: 150%;
    left: 50%;
    margin-left: -55px;
}
.tooltip-bottom > .tooltip-text {
    top: 150%;
    left: 50%;
    margin-left: -55px;
}
.tooltip-left > .tooltip-text {
    top: -5px;
    right: 110%;
}
.tooltip-right > .tooltip-text {
    top: -5px;
    left: 110%;
}
[class*="tooltip-"] > .tooltip-text::after {
    content: "";
    position: absolute;
    border-width: 5px;
    border-style: solid;
}
.tooltip-top > .tooltip-text::after {
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-color: black transparent transparent transparent;
}
.tooltip-bottom > .tooltip-text::after {
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-color: transparent transparent black transparent;
}
.tooltip-left > .tooltip-text::after {
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-color: transparent transparent transparent black;
}
.tooltip-right > .tooltip-text::after {
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-color: transparent black transparent transparent;
}
[class*="tooltip-"]:hover .tooltip-text {
    visibility: visible;
}

.fa-trash{
    color: #ff3860;
    cursor: pointer;
}
.show-case{
    padding-bottom: 10px;
    margin-left: 10px;
    width: 24%;
}
.show-case:hover{
    outline: 1px solid #209cee;
    border: 1px solid #209cee;
}
.show-case img{
    width: 100%;
}
.show-case a{
    width: 100%;
}

.toggle-popup-cart{
    float: right;
}
.dropdown-content-cart{
    position: fixed;
}
.dropdown-content-cart a{
    display: none;
}

.toggle-popup-cart:hover .dropdown-content-cart a{
    display: block;
}

/* type of : number-inline */
/* thanks : https://stackoverflow.com/questions/45396280/customizing-increment-arrows-on-input-of-type-number-using-css */
.number-inline input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
.number-inline input[type=number]::-webkit-inner-spin-button,
.number-inline input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.number-inline {
    border: 2px solid #ddd;
    display: inline-flex;
}
.number-inline,
.number-inline * {
    box-sizing: border-box;
}
.number-inline button {
    outline:none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    margin: 0;
    position: relative;
}
.number-inline button:before,
.number-inline button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 2px;
    background-color: #212121;
    transform: translate(-50%, -50%);
}
.number-inline button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}
.number-inline input[type=number] {
    font-family: sans-serif;
    max-width: 5rem;
    padding: .5rem;
    border: solid #ddd;
    border-width: 0 2px;
    font-size: 1rem;
    height: 2rem;
    font-weight: bold;
    text-align: center;
}
/* type of : number-group */
.number-group input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
    padding: 20px;
}

/* collapse */
.collapse-btn {
    background-color: #21df89;
    color: #000;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    /*    font-size: 15px;*/
}
.collapse-active, .collapse-btn:hover {
    background-color: #83ffc7;
}
.collapse-btn:after {
    content: '\002B';
    color: #000;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.collapse-active:after {
    content: "\2212";
}
.collapse-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}


/* screen <= 768 For mobile phones */
@media screen and (max-width: 768px) {
    body{
        font-size: 12px;
        background-color: #FFE;
    }
    .container {
        width: 95%;
    }
    #wrapper.side-show {
        padding-left: 100px;
    }
    #wrapper.side-show .sidebar{
        width: 100px;
    }
    /*    #page-content{
            width: calc(100% - 0px)
        }*/
    [class*="col-"] {
        float: left;
        padding: 0;
    }
    .col-sm-1 {width: 8.33%;}
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}

    .show-case{
        margin: 5px;
        width: calc(50% - 10px);
        border: 1px solid #209cee;
    }

    /*    nav.navbar {
            display: none;
        }
        nav.navbar-smartphone {
            display: block;
        }
        .n-row-one .n-one {
            width: 40% !important;
        }
        .n-row-one .n-two {
            width: 60% !important;
            text-align: right !important;
        }
        .n-row-two .n-one {
            width: 90% !important;
        }
        .n-row-two .n-two {
            width: 10% !important;
            text-align: right !important;
        }
        .column {
            width: 50% !important;
        }
        .c-column {
            width: 50% !important;
        }
        .carousel{
            white-space: nowrap;
        }
        .carousel-col{
            width: 120px !important;
        }
        .carousel-col img{
            width: 48px !important;
        }
        .gallery-left{
            width: 100% !important;
        }
        .gallery-right{
            width: 100% !important;
        }
        .modal .modal-content {
            width: 85% !important;
        }
        .alert-box > .alert {
            width: 95% !important;
        }*/
}
